@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    border-bottom: 5px solid;
}

.header-text {
    font-size: 50px;
    font-weight: bold;
}